# Basic dependencies
pip
setuptools
certifi
SQLAlchemy
pandas
Flask
pymongo
dnspython
geopandas
GeoAlchemy2
Shapely
Fiona
jupyter
pyspark
psycopg[binary]
streamlit
watchdog
streamlit_jupyter
plotly
dash
jupyter-dash
dash-leaflet
xarray
Cartopy
cmocean
kernel-run
netCDF4
scipy
numpy
pymannkendall
voila
panel
geoviews
holoviews
pydeck
folium
dask
datasets
rioxarray
scikit-learn
joblib
findspark
pyarrow
regex
gradio
lightgbm

# TensorFlow and PyTorch-related packages
tf-nightly
git+https://github.com/keras-team/keras-tuner.git
autokeras
torch
torchvision
torchaudio

# PyTorch nightly CPU package URL
--extra-index-url https://download.pytorch.org/whl/cpu

lightning
torchmetrics
torch-summary
wandb
gymnasium
pettingzoo
gymnasium-robotics
git+https://github.com/DLR-RM/stable-baselines3
pygame
opencv-python
kaggle-environments

# Data visualization
seaborn
altair
bokeh
vl-convert-python
vegafusion[embed]
orjson
deepspeed
kaleido

# Hugging Face
transformers
datasets
safetensors
huggingface_hub[cli]
accelerate
tokenizers
evaluate

# Miscellaneous
playwright
cryptography
pycryptodome
zhipuai
bertopic
